<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAliNmHotBcBkhY9-c5S0Y2G8OVr8QGRy4</string>
	<key>GCM_SENDER_ID</key>
	<string>303517613846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielparker.travelapp</string>
	<key>PROJECT_ID</key>
	<string>travel-app-666b1</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-666b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303517613846:ios:ea82ef1cd6f028974e5a37</string>
</dict>
</plist>